<p>
  <strong>Name:</strong>
  <%= @house.name %>
</p>

<img src="<%= @house.image_url %>">

<p><%= link_to 'back', houses_path %></p>

<% @house.students.each do |student| %>
  <div class="student">
    <h2><%= student.name %></h2>

    <img src="<%= student.img_url %>">
  </div>
<% end %>
